# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://xidwedvgoihqblqcsbea.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpZHdlZHZnb2locWJscWNzYmVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NzgwMzIsImV4cCI6MjA5MTM1NDAzMn0.7Y5kFe7SP4sKHomWZ4Y8T7evv3QHW5GooB-QuHxJWE8

# Backend API
EXPO_PUBLIC_API_URL=http://localhost:3001

# Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key
